.card {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
.watchContent{
    transition: transform 0.3s ease;

}
.watchContent:hover{
    transform: scale(1.05);

  }
.search-box{
  width: 42%;
  margin-left: 20px;
  
}
.form-control{
  border-radius: 10px;
}
.loader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loader-spin {
  width: 40px;
  height: 40px; 
  border-radius: 50%;
  border: 6px solid #2f77d6;
  border-top: 6px solid transparent; 
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.choosen-container {
  width: 95%;
  height: 95%;
  background-color: #f3f3f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: fadeAndScale 0.5s ease;
  overflow: hidden;
  overflow-y: scroll;
}

@keyframes fadeAndScale {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-icon:hover {
  color: red;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9998; /* Make sure it's below choosen-container */
}

