.container{
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    align-content: center;
}


.logo-img{
    width: 250px;
    margin-left: 120px;
}

.invalid-error{
    background-color: rgb(197, 76, 76);
    color: white;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: auto;
    text-align: center;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    z-index: 9999;
}

.loader {
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    border: 6px solid #2f77d6;
    border-top: 6px solid transparent; 
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

